
h1{
font-family: 'Oswald', sans-serif;
}
#container{

   background-color: #F7F7D8;

   display: flex;
   flex-wrap:wrap;
   align-content: space-around;
   height: 300px;
   width: 50%;

}

#box1{
  background-color: #BA3434;

  height: 100px;
  width: 100px;
  margin: 10px;

  display: flex;
  justify-content:center;
  align-items: center;
}

#box2{
  background-color: #C17FEA;

  height: 100px;
  width: 100px;
  margin: 10px;

  display: flex;
  justify-content:center;
  align-items: center;
}

#box3{
  background-color: #F6A31C;

  height: 100px;
  width: 100px;
  margin: 10px;

  display: flex;
  justify-content:center;
  align-items: center;
}

#box4{
  background-color: #F9F06B;

  height: 100px;
  width: 100px;
  margin: 10px;

  display: flex;
  justify-content:center;
  align-items: center;
}

#box5{
  background-color: #5CBCBC;

  height: 100px;
  width: 100px;
  margin: 10px;

  display: flex;
  justify-content:center;
  align-items: center;
}

#box6{
  background-color: #F57AB7;

  height: 100px;
  width: 100px;
  margin: 10px;

  display: flex;
  justify-content:center;
  align-items: center;
}

#box7{
  background-color: #22C337;

  height: 100px;
  width: 100px;
  margin: 10px;

  display: flex;
  justify-content:center;
  align-items: center;
}

#box8{
  background-color: #3557E3;

  height: 100px;
  width: 100px;
  margin: 10px;

  display: flex;
  justify-content:center;
  align-items: center;
}

#box9{
  background-color: #C0F740;

  height: 100px;
  width: 100px;
  margin: 10px;

  display: flex;
  justify-content:center;
  align-items: center;
}

#box10{
  background-color: #F77640;

  height: 100px;
  width: 100px;
  margin: 10px;

  display: flex;
  justify-content:center;
  align-items: center;
}
